In [5]:
import pandas as pd
file_path = 'Data/oulad/studentVle.csv'
df = pd.read_csv(file_path)
df.columns = ['code_module', 'code_presentation', 'uid', 'sid', 'timestamp',\
'sum_click']
df

         code_module code_presentation     uid     sid  timestamp  sum_click
0                AAA             2013J   28400  546652        -10          4
1                AAA             2013J   28400  546652        -10          1
2                AAA             2013J   28400  546652        -10          1
3                AAA             2013J   28400  546614        -10         11
4                AAA             2013J   28400  546714        -10          1
...              ...               ...     ...     ...        ...        ...
10655275         GGG             2014J  675811  896943        269          3
10655276         GGG             2014J  675578  896943        269          1
10655277         GGG             2014J  654064  896943        269          3
10655278         GGG             2014J  654064  896939        269          1
10655279         GGG             2014J  654064  896939        269          1

[10655280 rows x 6 columns]